
.simple-typeahead[data-v-04d98098] {
  position: relative;
  width: 100%;
}
.simple-typeahead > input[data-v-04d98098] {
  margin-bottom: 0;
  width: 100%;


}
.simple-typeahead .simple-typeahead-list[data-v-04d98098] {
  position: absolute;
  width: 120%;
  left: -10%;
  border: none;
  max-height: 400px;
  overflow-y: auto;
  border-bottom: 0.1rem solid #1E232B;
  z-index: 9;
  color: #E5E5E5;
  border-radius: 0px 0px 8px 8px;
}
.simple-typeahead .simple-typeahead-list .simple-typeahead-list-header[data-v-04d98098] {
  background-color: #1E232B;
  padding: 0.6rem 1rem;
  border-bottom: 0.1rem solid #1E232B;
  border-left: 0.1rem solid #1E232B;
  border-right: 0.1rem solid #1E232B;
}
.simple-typeahead .simple-typeahead-list .simple-typeahead-list-footer[data-v-04d98098] {
  background-color: #1E232B;
  padding: 0.6rem 1rem;
  border-left: 0.1rem solid #1E232B;
  border-right: 0.1rem solid #1E232B;
}
.simple-typeahead .simple-typeahead-list .simple-typeahead-list-item[data-v-04d98098] {
  cursor: pointer;
  background-color: #1E232B;
  padding: 0.6rem 1rem;
  border-bottom: 0.1rem solid #1E232B;
  border-left: 0.1rem solid #1E232B;
  border-right: 0.1rem solid #1E232B;
}
.simple-typeahead .simple-typeahead-list .simple-typeahead-list-item[data-v-04d98098]:last-child {
  border-bottom: none;
}
.simple-typeahead .simple-typeahead-list .simple-typeahead-list-item.simple-typeahead-list-item-active[data-v-04d98098] {
  background-color: #1E232B;
}

.search-input{
  .simple-typeahead, input[type=text]{
    width: 95%;
    color: #E5E5E5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: none;
    background-color: transparent;
    height: 36px;
    border-radius: 4px;
  }

  input[type=text]:focus {
    outline: none;
  }
  ::placeholder {
    color: #E5E5E5;
    font-size: 16px;
    letter-spacing: 0.1em;
  }

}
